.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  input[type="text"] {
    padding: 10px;
    width: 70%;
    border: none;
    border-bottom: 2px solid #ccc;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  .completed {
    text-decoration: line-through;
    opacity: 0.5;
  }

  ol li {
    list-style: decimal;
    list-style-position: inside;
    display:list-item !important;
    word-wrap: break-word;
}